<div id="titleBoard" class="container" style="display:none">
  <p id="titleBoardText">Selected Restaurant will display here</p>
</div>
<div id="map"></div>
<button type="button" class="btn btn-dark btn-lg" id="newRestaurantButton">New Restaurant</button>
