html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

main, .container-fluid, .row, #groups, #main {
  height: 100%;
}

#groups {
  overflow-y: scroll;
}

#map {
  height: 100%;
  width: 100%;
}

#newRestaurant {
  position: absolute;
  bottom: 22px;
  right: 50px;
}


#restaurantsList {
  position: absolute;
  top: 22px;
  right: 50px;
}
