<div class="card" id="groupDetails">
  <div class="card-header text-secondary">
    My Groups
  </div>
  <ul class="list-group list-group-flush bg-light">
    <% @groups.each do |group| %>
    <li class="list-group-item bg-light">
      <a class="nav-link groupTab" data-toggle="collapse" href="#<%= "#{group.id}" %>" aria-expanded="false" aria-controls="<%= "#{group.id}" %>">
        <%= group.name %>
      </a>
    </li>
    <% end %>
  </ul>
  <%= render "layouts/restaurants" %>
</div>
