<div class="collapse" id="profileDetails" >
  <div class="card">
    <div class="card-header">
      <%= current_user.name %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">id: <%= current_user.id %></li>
      <li class="list-group-item">e-mail: <%= current_user.email %></li>
    </ul>
  </div>
</div>
