<div class="collapse" id="profileDetails" >
  <ul class="mr-auto">
    <li class="">
      user_id: <%= current_user.id %>
    </li>
    <li class="">
      user_name: <%= current_user.name %>
    </li>
    <li class="">
      user_email: <%= current_user.email %>
    </li>
  </ul>
</div>
